* {margin: 0;
	padding: 0

}
@font-face {
     font-family: Pacifico;
     src: url("../font/Pacifico.ttf");
 }

 @font-face {
     font-family: proxima-nova;
     src: url('../font/proxima-nova.otf');
 }

body{
	font-size: 16px;
	color: black;
	line-height: 100%;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}		

a{
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	color: #87b672;
}

.banner-wrapper{
width: 100%;
height: 100vh;
background: url("../images/banner.jpg") no-repeat center center / cover; 

}
.container {
     width: 1180px;
     margin: 0 auto;
 }

header {
     padding: 47px 0;
     border-bottom: 1px solid #ffffff;
     display: flex;
     justify-content: space-between;
 }
 .social {}
 .social ul{
 	display: flex;
 }
.social ul li a{
	 background: #fff;
     color: #6d6150;
     height: 35px;
     width: 35px;
     border-radius: 50%;
     display: flex;
     margin: 0 5px;
     justify-content: center;
     align-items: center;
}
.logo {
     font-size: 2.5em;
     color: #ffffff;
     font-family: 'Pacifico';
 }

 nav {
     padding: 25px 0;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
 }
 nav .main_nav li:first-child a {
     margin-left: 0;
 }

  nav a {
     color: #ffffff;
 }
 nav .main_nav {
     display: flex;
 }

 nav .main_nav li a {
     color: #ffffff;
     font-family: 'proxima-nova';
     text-transform: uppercase;
     margin: 0 20px;
 }

.prev_navigate{
    font-size: 40px;
    margin-left: 30px;
}
 .prev_navigate i{
    color: white;
}

.slider{
	 display: flex;
	 justify-content: space-around;
	 padding: 0 40px;
	 margin-top: 100px;
	 align-items: center;
	 margin-left: -164px;
	 margin-right: -500px;
	}

.slider_text{margin-top: 20px;}
.slider_text h1{
     text-align: center;
     line-height: 100%;
     color: #fff;
     font-size: 36px;
 }

.slider_text span{
    color: #87b672;
}

.slider_text p{
    font-size: 22px;
    margin-top: 37px;
    text-align: center;
    color: white;
}

.slider_text a{
    display: flex;
    justify-content: center;
    margin-top: 31px;
    text-decoration: none;
    font-size: 15px;
    width: 122px;
    height: 41px;
    border-radius: 10px;
    align-items: center;
    margin-left: 38%;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
}

.slider.navigate {
     flex: none;
     height: 40px;
     width: 40px;
 }
 
 .next_navigate{
    margin-right: 128px;
}
 .next_navigate i{
    color: white;
    font-size: 40px;
}
.banner_text{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tex{
    display: flex;
    justify-content: center;
    line-height: 1.5em;
    text-align: center;
    width: 57%;
    margin-left: 244px;
}

.service{
    border-top: 2px solid black;
    padding-top: 30px;
    margin-top: 40px;
    display: flex;
    text-align: center;
}
.service_box1{
    padding: 1%;
    line-height: 1.6em;
}
.service_box1 img{
    margin: 0 auto;
}
.service_box1 h3{}
.service1{}
.service_box{
    display: flex;
}
.work{
    padding-top: 47px;
    margin-top: 28px;
    display: flex;
    text-align: center;
    background: #efefef;
}
.work_text{margin-top: 12px;}
.work_text h1{
    text-transform: uppercase;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
}
.work_text p{
    text-align: center;
    font-size: 16px;
    width: 75%;
    line-height: 2.0em;
    margin-left: 170px;
    margin-bottom: 40px;
}
.work_box{
    display: flex;
    margin-bottom: 60px;
}
.icon1{
    padding: 1%;
    line-height: 1.6em;
}
.icon1 img{
    margin: 0 auto;
}
.icon1 h4{
    font-size: 18px;
    color: #807d7d;
}

.like{
    border-top: 1px solid;
    margin: 0 100px;
    padding-top: 33px;
}
.like_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    line-height: 3.5em;
}
.like_text h1{
    display: flex;
    text-transform: uppercase;
}
.like_text p{
    padding: 1%;
    line-height: 1.5em;
    text-align: center;
    width: 65%;
}
.like_text a{
    border-radius: 5px;
    background: #87b672;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}
.footer{
    background: #333333;
    margin-top: 38px;
}
.contact{
    display: flex;
    justify-content: space-around;
    padding-top: 46px;
    align-items: center;
    margin-right: 656px;
    margin-bottom: 30px;
    margin-left: -82px;
}
.total{}
.logo{}
.logo a{
    font-size: 34px;
}
.social{}
.para{
    line-height: 1.5em;
    padding: 1%;
    width: 40%;
}
.para p{}
.contact_info{
    display: flex;
    justify-content: center;
}
.contact1{}
.contact_info h2{}
.contact_info ul{}
.contact_info ul li{}
.contact_info p{}
.contact_info img{}
